{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% load thumbnail %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .form-group label {
        font-weight: 800;
    }

    .container {
        width: 600px;
        margin: 0px auto;
        background-color:tan;
        padding: 20px;
        border-radius: 8px;
    }

    .button {
        background-color: white;
        border: 15px;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
    }
</style>
{% endblock %}

<!--This act as body tag for html as reference to base.html-->

{% block content %}
<div class="w3-container" style="text-align: center;">
    <h1>Objectives yet to complete</h1>
    <div class="container">

        <div class="row" style="text-align: center;">
            <div class='col-1'>
                <label for="notes"
                    style="text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: large;">
                    Notes</label>
            </div>
        </div>
        <div class='row'>
            <ul>
                {% for item in list %}
                <li>{{ item.content  }}<button type="button" class="btn btn-outline-danger">Remove</button> </li>
                {% endfor %}
            </ul>
        </div>
        <div class='row'>
            <form action="/add_Reminders/" method="POST">
            {% csrf_token %}
            <input type="text" name="content" id="">
            <input type="submit" name="" id="" value="Add" class="btn btn-outline-success">             
            </form>
        </div>

    </div>

</div>

{% endblock %}


<!--This act as script and functions outside of body tag for html-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block js_block %}
{% endblock js_block %}